/*
 * apply styles based on element properties,
 * as listed in the JSON data (elements.js)
 *
 * styles largely copied from Wikipedia periodic table
*/

* {
    box-sizing: border-box;
}

table {
    table-layout: fixed;
}

td {
    width: 20px;
    height: 20px;
    border: 0px none;
    text-align: center;
}

.element {
    width: 60px;
    height: 60px;
    background: #eeeeee;
    border: 2px solid transparent;
    position: relative;
    margin: 0 0 0 0;
}
.element-lg {
    width: 80px;
    height: 80px;
}
.element-sm {
    width: 40px;
    height: 40px;
}

.symbol {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    font-family: Arial, Verdana, sans-serif;
    opacity: 0.5;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1em;
}
.number {
    display: block;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.name {
    display: block;
    font-size: 0.8em;
    margin: 0 0 0 0;
    margin-bottom: 0.25em;
}
.mass {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    margin: 0 0 0 0;
}

/* black-and-white option; overrides any other coloring */
.bw {
    background: #ffffff !important;
    color: black !important;
    opacity: 1.0 !important;
    border: 2px solid black !important;
}

/* element type */
.alkali-metal {
    background: #ff6666;
}
.alkaline-earth-metal {
    background: #ffdead;
}
.lanthanide {
    background: #ffbfff;
}
.actinide {
    background: #ff99cc;
}
.transition-metal {
    background: #ffc0c0;
}
.post-transition-metal {
    background: #cccccc;
}
.metalloid {
    background: #cccc99;
}
.polyatomic-nonmetal {
    background: #a1ffc3;
}
.diatomic-nonmetal {
    background: #e7ff8f;
}
.noble-gas {
    background: #c0ffff;
}

/* element occurrence */
.primordial {
    border: 2px solid #8811ff;
}
.from-decay {
    border: 2px dashed #773300;
}
.synthetic {
    border: 2px dotted #4499ff;
}
